
<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #91e4fb;">

  <img src="/assets/imagenes_proyecto/pop.png" width="125px"style="float:left; padding: 0px 20px 0px 0px;">
  
  <nav class="navbar navbar-expand-sm navbar-light">    
      <input class="form-control mr-sm-2" type="text" placeholder="">
      <button class="btn btn btn-light" type="submit">Buscar</button>
  </nav>

  <ul class="navbar-nav" style="margin-left: 40%; font-size: 20px; font-weight: bold;">
    <li class="nav-item" style="margin-right: 13%;">
      <a class="nav-link" href="">Home</a>
    </li>
    
    <li class="nav-item" style="margin-right: 13%;">
      <a class="nav-link" href="/shop">Shop</a>
    </li>
    <li class="nav-item" style="margin-right: 13%;">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item" style="margin-right: 13%;">
      <a href="/buying1">
        <img src="/assets/imagenes_proyecto/carrito.png">
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>