<div class="container-fluid" style="background-color: #91e4fb; text-align: center;">
  <br>
  <hr>
  <br><br><br>
  <div style="display: flex; align-items: center;">
    <h1 style="margin: 0 auto; opacity: 60%; color: #606060;">
      1. Cesta de la compra
    </h1>
    <h1 style="margin: 0 auto; color: #606060;">
      2. Detalles del envío
    </h1>
    <h1 style="margin: 0 auto; opacity: 60%; color: #606060;">
      3. Método de pago
    </h1>
  </div>
  <br><br><br>
</div>

<br><br>
<div style="display: flex;">
  <h2 style="margin: 0 auto; color:#606060;" align="right">Resumen del pedido</h2>
  <h2 style="margin: 0 auto; color:#606060;" align="left">Detalles del envío</h2>
</div>

<br>
<div style="display: flex;">
  <div style="margin: 0 auto;" align="right">
    <p style="font-size: 30px;" align="center">Subtotal {{subtotal}}&euro;</p>
    <p style="font-size: 30px;" align="center">IVA {{iva}}&euro;</p>
    <hr>
    <p style="font-size: 30px;" align="center">TOTAL {{total}}&euro;</p>
  </div>
  <br>
  <div style="margin: 0 auto;" align="left">
    <form class="form-group col">
      <div class="form-group col">
        <input type="text" id="nombre" placeholder="Nombre" [(ngModel)]="userData.usuario.nombre">
        &nbsp;
        <input type="text" id="apellido" placeholder="Apellidos" [(ngModel)]="userData.usuario.apellido">
        &nbsp;
      </div>
      <br>
      <div class="form-group row">
        <input type="text" id="direccion1" placeholder="Dirección" [(ngModel)]="userData.usuario.direccion"> &nbsp;
        <input type="text" id="direccion2" placeholder="Dirección 2" [(ngModel)]="userData.usuario.direccion2">
      </div>
      <br>
      <div class="form-group col">
        <input type="text" id="pais" placeholder="País" [(ngModel)]="userData.usuario.pais">
        &nbsp;
        <input type="text" id="ciudad" placeholder="Ciudad" [(ngModel)]="userData.usuario.ciudad">
      </div>
      <br>
      <div class="form-group col">
        <input type="text" id="cp" placeholder="Código Postal" [(ngModel)]="userData.usuario.cp">
        &nbsp;
        <input type="text" id="telefono" placeholder="Teléfono" [(ngModel)]="userData.usuario.telefono">
      </div>
    </form>
    <hr>
    <input type="radio" name="envio" (click)="envioGratis()"> Envío gratis (3 - 5 días laborables) &nbsp;
    <input type="radio" name="envio" (click)="envio24h()"> Envío 24 horas - 3&euro;<br>
    <span style="color: #606060; font-size: small;">Por defecto se elegirá la opción "Envío gratis"</span>
  </div>
  <br>
</div>

<div style="margin-left: 20%;">
  <button class="btn btn btn-light" type="submit" style="color: #606060;" (click)="cancelarTramite()"> Cancelar</button>
  &nbsp;&nbsp;&nbsp;
  <button class="btn btn btn-dark" type="submit" style="background-color: #909090;" (click)="pasoAtras()">Volver atrás</button>
  &nbsp;&nbsp;&nbsp;
  <button class="btn btn btn-dark" type="submit" style="background-color: #606060;" (click)="continuarTramite()">Continuar</button>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<footer class="container-fluid" style="background-color: #91e4fb;">
    <nav class="navbar navbar-expand-sm navbar-light" style="margin-left:40%">
      <a class="nav-link" href="">Home</a>
      <a class="nav-link" href="" style="margin-left: 10%;">About</a>
      <a class="nav-link" href="/shop" style="margin-left: 10%;">Shop</a>
    </nav>
    <p align="center" style="color: #606060;">&copy; POP! Impact Inc.</p>
</footer>