
<br/>

<h1 align="center" style="color: #606060;">POP Impact!</h1>

<br>




<br/><br/>

<div class="container">
  <div class="row" style="text-align: center;">
    <div class="col" style="text-align: center;"> <!-- Columna imagenes 1 -->
      <div>
        <a href="/product/0">
          <img src="/assets/imagenes_proyecto/sylvie_3.jpg" width="300px">
        </a>
    </div>
      <br/>
      <div>
        <a href="/product/2">
          <img src="/assets/imagenes_proyecto/peacemaker.jpg" width="300px">
        </a>
      </div>
     
    </div>

    <div class="col"> <!-- Columna imagenes 2 -->
      <div>
        <a href="/product/5">

          <img src="/assets/imagenes_proyecto/the_child.jpg" width="300px">
        </a>
      </div>
      <div>
        <a href="/product/4">
          <img src="/assets/imagenes_proyecto/batman.jpg" width="300px">
        </a>
      </div>
    </div>
    
    <div class="col"> <!-- Columna imagenes 2 -->
      <div>
        <a href="/product/1">
          <img src="/assets/imagenes_proyecto/boba.jpg" width="240px">
        </a>
      </div>
      <br/>
      <div>
        <a href="/product/3">
          <img src="/assets/imagenes_proyecto/hp_duel.jpg" width="240px">
        </a>
      </div>
    </div>

    <div>
      <br/><br/>
      <button class="btn btn btn" style="background-color: #91e4fb;">Explorar</button>
    </div>
  </div>
</div>


<br/><br/>

<div class="container-fluid" style="background-color: #91e4fb;">
  <div class="form-group row">
    <div class="form-group col">
      <img src="/assets/imagenes_proyecto/pop.png" width="200px">
    </div>
    <div class="form-group col" style="text-align:center">
      <label style="color:#606060; font-size: 50px;">Boletín Semanal</label>
      <div class="form-group row">
        <div style="text-align:center">
          <input type="text" id="boletin" placeholder="Correo electrónico" >
        </div>
        <div style="text-align:center; margin-top: 10px;">
          <button class="btn btn btn-dark">Suscribirse</button>
        </div>
      </div>
    </div>
  </div>
</div>



<body>
<div class="slide">
  <div class="slide-inner">
    <input class="slide-open" type="radio" id="slide-1" 
          name="slide" aria-hidden="true" hidden="" checked="checked">
    <div class="slide-item">
      <img src="/assets/imagenes_proyecto/the_child.jpg">
    </div>
    <input class="slide-open" type="radio" id="slide-2" 
          name="slide" aria-hidden="true" hidden="">
    <div class="slide-item">
      <img src="/assets/imagenes_proyecto/hp_duel.jpg">
    </div>
    <input class="slide-open" type="radio" id="slide-3" 
          name="slide" aria-hidden="true" hidden="">
    <div class="slide-item">
      <img src="/assets/imagenes_proyecto/marvel-logo-1-1.png">
    </div>
    <label for="slide-3" class="slide-control prev control-1">‹</label>
    <label for="slide-2" class="slide-control next control-1">›</label>
    <label for="slide-1" class="slide-control prev control-2">‹</label>
    <label for="slide-3" class="slide-control next control-2">›</label>
    <label for="slide-2" class="slide-control prev control-3">‹</label>
    <label for="slide-1" class="slide-control next control-3">›</label>
    <ol class="slide-indicador">
      <li>
        <label for="slide-1" class="slide-circulo">•</label>
      </li>
      <li>
        <label for="slide-2" class="slide-circulo">•</label>
      </li>
      <li>
        <label for="slide-3" class="slide-circulo">•</label>
      </li>
    </ol>
  </div>
</div>

  <br/><br/><br/>
  
  <footer class="container-fluid" style="background-color: #91e4fb;">
    <nav class="navbar navbar-expand-sm navbar-light" style="margin-left:40%">
      <a class="nav-link" href="" style="margin-left: 3%;">Home</a>
      <a class="nav-link" href="/shop" style="margin-left: 10%;">Shop</a>
    </nav>
    <p align="center" style="color: #606060;">&copy; POP! Impact Inc.</p>
  </footer>
  